{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>

	<link rel="icon" type="image/png" href="{% static 'images/lock_favicon.svg' %}">

    <title>BNG Réservation Sécurisée</title>



    <!--// ICONS //-->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--// BOOTSTRAP & Main //-->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <link href="{% static 'css/success.css' %}" rel="stylesheet">

</head>



<body>

<div class="background"></div>
<div class="container">
	<div class="row">
		<div class="modalbox success col-sm-8 col-md-6 col-lg-5 center animate">
			<div class="icon">
				<span class="glyphicon glyphicon-ok"></span>
			</div>
			<!--/.icon-->
			<h1>Votre empreinte est validée!</h1>
			<p>Votre conseiller personnel va prendre contact avec vous dans les 48 heures</p>
			<a href="https://www.boursorama.com/cours/1zP911/" ><button type="button" class="btn">Ok</button></a>

		</div>
		<!--/.success-->
	</div>

</div>
<!--/.container-->

</body>

</html>